@font-face {
  font-family: "나눔스퀘어";
  src: url(../font/NanumSquare-master/NanumSquareB.woff);
}

* {
  box-sizing: border-box;
}

body {
  background-color: gray;
}

h1 {
  margin-top: 0;
  margin-bottom: 50px;
}

h4 {
  font-weight: 300;
  margin-bottom: 5px;
}

input {
  padding: 10px;
}

h1 {
  padding: 10px;
  font-family: "나눔스퀘어";
}

.wrapper {
  min-height: 100dvh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  .container {
    min-width: 480px;
    width: 80%;
    padding: 50px;
    background-color: white;

    .email {
      width: 100%;
      padding: 10px;
    }

    .email > input {
      display: block;
      width: 100%;
    }

    .first-name {
      float: left;
      width: 50%;
      padding: 10px;
    }

    .first-name > input {
      float: left;
      display: block;
      width: 100%;
    }

    .last-name {
      float: right;
      width: 50%;
      padding: 10px;
    }

    .last-name > input {
      float: right;
      display: block;
      width: 100%;
    }

    .message {
      padding: 10px;
    }

    .message > textarea {
      display: block;
      width: 100%;
      resize: none;
    }

    .submit {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      button {
        padding: 10px 60px;
        background: rgb(255, 225, 0);
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 728px) {
  .wrapper {
    .container {
      .first-name {
        display: block;
        width: 100%;
        float: none;
        clear: both;
      }

      .first-name > input {
        float: none;
        clear: both;
      }

      .last-name {
        display: block;
        width: 100%;
        float: none;
        clear: both;
      }

      .last-name > input {
        float: none;
        clear: both;
      }
    }
  }
}
